<!-- 页面为普通页面,添加了页首的导航条,
    将本页和下属子页中带有menu的页面添加到导航中
    为了搜索子页,本页必须因为_index,使用list.html模板,为了保证子页有相同的导航条,子页也需要为_index,使用相同模板 -->

{{ partial "single_head.html" .}}

<body id="body" class="page">

    <div class="container">
        <div class="row">

            <div class="col left-col">
            </div>

            <div class="col center-col">

                <div class="content">

                    <div class="clearfix">
                        <img src="/img/treatment.jpg" width="601" height="74" class="pull-left" />
                        <a href="/" class="pull-right">
                            <img src="/img/back-to-index.png" width="136" height="74" />
                        </a>
                    </div>
                    <div class="text">
                        {{ partial "top_menu.html" .}} {{.Content}}
                    </div>
                </div>

            </div>

            {{ partial "main_menu.html" .}}

        </div>
    </div>

    <script>
        {{ partial "script.html" .}}
    </script>
</body>

</html>