{{ partial "single_head.html" .}}

<body id="body" class="index">

  <div class="container">

    <div class="container">
      <div class="row header"></div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col left-col"></div>
        <div class="col center-col">
          <div class="links clearfix">
            <div class="link" id="link1">
              <a href="/treatment/">
                <img src="/img/thumbnail1.jpg" width="104" height="72" />
              </a>
              <div class="caption">
                <p>青木特色</p>
              </div>
            </div>
            <div class="link" id="link2">
              <a href="/knowledge/">
                <img src="/img/thumbnail2.jpg" width="104" height="72" />
              </a>
              <div class="caption">
                <p>口腔保健知识</p>
              </div>
            </div>
            <div class="link">
              <a href="/faq/">
                <img src="/img/thumbnail3.jpg" width="104" height="72" />
              </a>
              <div class="caption">
                <p>常见问题及回答</p>
              </div>
            </div>
            <div class="link">
              <a href="/star/">
                <img src="/img/thumbnail4.jpg" width="104" height="72" />
              </a>
              <div class="caption">
                <p>牙套小明星</p>
              </div>
            </div>
            <div class="link" id="link5">
              <a href="/about/">
                <img src="/img/thumbnail5.jpg" width="104" height="72" />
              </a>
              <div class="caption">
                <p>走进青木</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col right-col">
          <ul class="nav">
            <li>
              <a href="http://en.aokiyouyou.com">English</a>
            </li>

            <!-- 已经废弃方案：通过showInHome参数决定页面是否加入首页目录 -->
            <!-- {{ range sort .Data.Pages }}
            {{ if .Params.showInHome }}<li><a href='{{ .Permalink }}'>{{.Title}}</a></li>{{end}}
          {{ end }} -->

            <!-- 新方法 -->
            {{ $currentPage := . }} {{ range .Site.Menus.main }}
            <li>
              <a href='{{ .URL }}'>{{.Title}}</a>
            </li>
            <!-- <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a> -->
            {{ end }}

            <!-- <li><a href="/about/">走进青木</a></li>
          <li><a href="/doctor/" >专家介绍</a></li>
          <li><a href="/treatment/">青木特色</a></li>-->
          <li><a href="/contact/">联系我们</a></li> 
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row footer">
      </div>
    </div>
    {{ partial "script.html" .}}
</body>

</html>