{{ partial "single_head.html" .}}
<!-- {{ partial "single_header.html" .}}  -->

<body id="body" class="page">

    <div class="container">
        <div class="row">

            <div class="col left-col">
            </div>

            <div class="col center-col">

                <div class="content">

                    {{ partial "single_head_top.html" .}}
                    <div class="text">
                        {{if .Params.showPhotos}} {{ partial "photos.html" .}} {{end}} 
                        
                        {{.Content}}

                    </div>
                </div>
            </div>

            {{ partial "main_menu.html" .}}

        </div>
    </div>

    {{ partial "script.html" .}}
</body>

</html>